body {
    background-image: url('WoodenBackground.jpg'); /* background image*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
}


/*Heading*/
h1 {
    font-size: 56px;
    color: #fdfdfd; /* Text color */
    margin-top: 100px; /* Margin from top */
    background-color: #3c7544; /*Text background color*/
    display: inline-block; /* Background covers only text */
    padding: 10px 20px;
    border-radius: 5px;
}


/*TicTacToe Board and Cells Styling*/
#board {
    border-collapse: collapse;
    margin: 200px auto; 
}

.cell {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 54px;
    font-weight: bold;
    border: 5px solid #aa2d2d;
    cursor: pointer;
    background-color: #c9a7a7; /*cell colour*/
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #5c5a5a; /* background color while hovering over the board*/
}



/*status message*/
#status {
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0;
    color: #033b14; /*text color*/
}

/*Restart Button*/
#restart {
    font-size: 30px;
    padding: 10px 20px;
    background-color: #a330e6;
    color: #e4e6d3;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
}

#restart:hover {
    background-color: #330153; /* hover effect on restart button*/
    transition: background-color 1s; /*transition time for background color*/
}
